*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

#main{
    background-color: rgb(197, 197, 197);
    padding: 2rem 1rem;
    margin: 2rem 1rem;
    border-radius: 5px; 
}

header{
    text-align: center;
    margin-bottom: 1rem;
}
header h1{
    font-size: 3rem;
}

header p{
    margin-top: 1rem;
}

#img-div{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 5% 10% 0 10%;
}

#image{
    width: 100%;
    height: auto; 
    
}

#img-div p{
    margin: 1rem 0;
    text-align: center;
    color: #777;
}

#timeline{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

    
#timeline h3{
    margin-bottom: 2rem;
    text-align: center;
}

#timeline ul{
    display: flex;
    flex-direction: column;
    justify-content:center;  
    margin-bottom: 1rem;
    width: 60%;
}
 
    #timeline ul li {
        margin: .5rem 0;
    }
    #timeline ul li strong {
        color: #000;
    }
    #timeline ul li{
        color: #777;
    }
    
    #timeline p{
        margin: 1rem 0;
        text-align: justify;
        width: 60%;
    }
    
    #tribute-info p{
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    } 

